* {
  margin: 0;
  padding: 0;
}

/* STYLES */

h1 {
  font-size: 20px;
  font-weight: 500;
}

h2 {
  color: #666;
  font-size: 19px;
  font-weight: 500;
}

h4 {
  color: #333;
  font-size: 13px;
  font-weight: bold;
}

a, a:hover, a:focus, a:active {
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

p {
  font-size: 13px;
}

/* HEADER */

.disabled:hover, .disabled:active, .disabled:focus {
  outline: none;
}

button:hover, button:active, button:focus {
  outline: none;
  cursor: pointer;
}

.navbar {
  background: white;
  border-bottom: 1px solid #e8e8e8;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-items {
  margin-left: 37px;
  margin-top: 17px;
}

.wrapper {
  display: inline-block;
  float: left;
  position: relative;
}

.hamburger {
  width: 13px;
  height: 11px;
}

button {
  background: transparent;
  border: none;
}

.logo {
  top: -27px;
  width: 105px;
  height: 70px;
  position: relative;
}

.search-container {
  top: -5px;
  left: 76px;
}

.search {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px #eee;
  box-sizing: border-box;
  font-size: 16px;
  padding: 0 6px;
  height: 29px;
  width: 583px;
}

.search-btn {
  background: #f8f8f8;
  border: 1px solid #d3d3d3;
  box-shadow: inset 0 1px 2px #eee;
  box-sizing: border-box;
  height: 29px;
  padding-left: 0 6px;
  left: 75px;
  width: 67px;
  top: -5px;
}

.search-btn:hover {
  background: #f0f0f0;
}

.search-btn:active {
  background: #e9e9e9;
  border-color: #c6c6c6;
}

.btn {
  background: transparent;
  border: none;
  height: 29px;
  width: 65px;
}

.mag-glass {
  width: 13px;
  height: 13px;
}

.upload-wrapper {
  right: 142px;
  position: absolute;
}

.upload {
  width: 17px;
  height: 17px;
}

.bell-wrapper {
  top: 14px;
  right: 75px;
  position: absolute;
}

.bell {
  width: 23px;
  height: 23px;
}

.headshot-wrapper {
  top: 12px;
  right: 29px;
  position: absolute;
}

.headshot {
  width: 27px;
  height: 27px;
}


/* VIDEO AND COMMENTS */

body {
  background: #f1f1f1;
  font: 12px Roboto, arial, sans-serif;
  text-align: start;
}

.container {
  overflow: scroll;
  text-align: center;
  margin: 10px;
  padding-top: 50px;
}

.video-container {
  display: inline-block;
  margin-right: 7px;
  height: 360px;
  width: 640px;
  vertical-align: top;
}

.video {
  height: 360px;
  width: 640px;
  position: relative;
}

.video-title-container {
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  display: inline-block;
  height: 170px;
  margin-top: 7px;
  margin-right: 7px;
  width: 640px;
}

.video-title {
  padding: 10px;
  text-align: left;
  width: 450px;
}

.video-title-add-container {
  height: 30px;
  margin: 0 10px;
  width: 100%;
}

.avatar {
  height: 49px;
  width: 49px;
}

.avatar-container, .channel-container {
  float: left;
}

.video-views {
  clear: both;
  left: -20px;
  text-align: right;
  position: relative;
  vertical-align: bottom;
}

.video-descrip-container {
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  display: inline-block;
  height: 120px;
  margin-top: 7px;
  margin-right: 7px;
  width: 640px;
}

.video-descrip {
  padding: 10px;
  text-align: left;
}

.category-license {
  font-size: 11px;
  padding-left: 10px;
  text-align: left;
  vertical-align: bottom;
}

td {
    padding-right: 70px;
}

/* SIDEBAR */

.sidebar {
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  display: inline-block;
  background: white;
  min-height: 520;
  width: 417px;
  position: relative;
  vertical-align: top;
}

.sidebar-container {
  margin: 14px;
  padding-bottom: 15px;
}

.up-next {
  display: inline-block;
  color: #222;
  float: left;
  line-height: 1.3em;
}

.autoplay {
  color: #767676;
  display: inline-block;
  float: right;
  margin-right: 10px;
}

.info-btn {
  display: inline-block;
  float: right;
  margin-top: 2px;
  margin-right: 10px;
}

.info {
  width: 12px;
  height: 12px;
}

.checkbox-container {
  background: #b8b8b8;
  border: 1px solid transparent;
  border-radius: 20px;
  display: inline-block;
  float: right;
  margin-top: 2px;
  height: 13px;
  width: 35px;
}

.toggle {
  background: #fbfbfb;
  width: 13px;
  height: 13px;
  border-radius: 13px;
}

.side-bar-video-wrapper {
  clear: both;
  height: 100px;
  padding-top: 15px;
  width: 100%;
}

.side-bar-video {
  height: 96px;
  width: 168px;
}

.side-bar-video-container {
  display: inline-block;
  margin-right: 5px;
}

.sidebar-video-info-wrapper {
  text-align: left;
  display: inline-block;
  height: 100px;
  width: 200px;
  vertical-align: top;
}

.up-next-video-wrapper {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
  padding-top: 10px;
}

.sidebar-video-title {
  font-size: 14px;
  font-weight: bold;
}

.sidebar-video-attr {
  padding: 3px;
}

.sidebar-video-link:visited {
  color: #408;
}

.sidebar-video-link:hover, .sidebar-video-link:active {
  color: #167ac6;
}

.sidebar-video-attr {
  left: -3px;
  position: relative;
}

.sidebar-video-attr, .sidebar-video-view-count {
  color: #767676;
  font-size: 11px;
  display: block;
}

